<section class="welcome">
    <div class="welcome__div">
        <h1 class="welcome__title">Cakum Pakum <span>Agencija za čišćenje</span></h1>
        <p class="welcome__text">
            <span>Tu smo da</span>
            Za Vas dočekamo goste, ispratimo i naplatimo
            <span>Štedimo vreme</span>
            Peremo, peglamo i menjamo posteljine
            <span>Umesto Vas</span>
            Čistimo objekat za goste
            <span>Kućne popravke</span>
            Zamena utičnica, slavina, kvaka
        </p>
        <video class="video-bg" autoplay muted loop src="assets/videos/jambotron.mp4" type="video/mp4"></video>

        <div class="bubbles">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
            <img src="assets/bubble.png">
        </div>
    </div>
</section>

<!-- ABOUT US -->

<section id="about-us" class="about--us">
    <div class="about">
        <img src="assets/images/1.jpg" alt="slika tima" class="about__img about__img1">

        <div class="about__info">
            <h4 class="about__title">O Nama</h4>
            <p class="about__text">Agencija Cakum Pakum predstavlja mlad, stručan i odgovoran tim ljudi koji su želeli da na naše prostore donesu ono što se na zapadu već odavno podrazumevalo, profesionalnu higijenu na najvišem nivou kao standard.
            Uvereni smo da ćemo vas osvojiti našim kvalitetom usluge, zato nas angažujte i poklonite nam svoje poverenje.
            Stalna kontrola kvaliteta pružene usluge, stručni radnici, kvalitetna oprema i hemijska sredstva gde upotrebljavamo samo preparate koji ne škode ljudskom organizmu, odnosno organska, PH neutralna, antibakterijska i antialergijska sredstva, su samo neke od prednosti u pružanju usluga čišćenja našeg uigranog tima.
            Naši radnici će svojim marljivim, pouzdanim i pre svega diskretnim radom učiniti da Vaš prostor postane jedan prijatan ambijent.</p>
        </div>
    </div>

    <div class="about">
        <img src="assets/images/2.jpg" alt="slika tima" class="about__img about__img2">

        <div class="about__info">
            <h5 class="about__title about__title2">Način Poslovanja</h5>
            <p class="about__text">Usluge čišćenja pružamo nedeljno, mesečno, jednokratno, ili kako god Vi to poželite. Odluka je na Vama.
                Da bi Vaš prostor bio čist, najpre je potrebno da nas kontaktirate, zatim mi dolazimo kod Vas kako bismo procenili obim posla i cenu usluge. Potom, od nas ćete dobiti pisanu ponudu sa preciznim deteljima naših usluga i naših obaveza.
                Nakon toga mi odgovorno pristupamo poslu, a kada ga obavimo Vi ćete zasigurno uživati, i opet nas pozvati kada Vam bude potrebna ozbiljna firma za čišćenje.</p>
        </div>
    </div>
</section>

<!-- WHY US -->

<section class="why-us">
    <h4 class="grades__title">Zašto Baš Mi</h4>
    <div class="grades">
        <div class="grade">
                <img src="assets/icons/best-choice.png" alt="">
                <p class="grade__text">Ono po čemu se <span>razlikujemo od ostalih</span> jeste detaljna pricena posla koja se pojedinačno pravi za svakog klijenta.
                Nakon precizne analize prostora i <span>u dogovoru sa klijentom</span> određuje se konačan spisak usluga koje će se izvršavati, kao i konačna cena. </p>
        </div>

        <div class="grade">
                <img src="assets/icons/the-best.png" alt="">
                <p class="grade__text">Mi vršimo <span>prijave gostiju, vodimo evidenciju, izdajemo račune, fakture, obračunavamo takse, izdajemo, rezervišeo, održavamo</span>.
                Pored usluga higijenskog održavanja i izdavanja apartmana, nudimo i usluge sitnih kućnih popravki, usluge <span>hausmajstora</span>. Zamena sijalica, brava, kvaka, montaža polica, slika, tv nosača, kao i molersko-farbarske i druge građevinsko-zanatske radove.</p>
        </div>

        <div class="grade">
                <img src="assets/icons/satisfaction.png" alt="">
                <p class="grade__text">Naš <span>profesionalan i maksimalno posvećen tim</span> može da ponudi adekvatan odgovor na sve zahteve koje postavlja savremen, ubrzan način života.
                Nemojte trošiti svoje dragoceno vreme, posvetite se onome u čemu ste najbolji, a ovako temeljne i zahtevne poslove prepustite nama profesionalcima uz <span>apsolutnu diskreciju, pouzdanost i kvalitet</span>.</p>
        </div>
    </div>
</section>

<!-- SERVICES -->

<section id="services" class="services">
    <div class="services__description">
        <div class="services__info">
            <h4 class="services__title">Usluge</h4>
            <ul class="services__text">Za vlasnike apartmana i vila nudimo više različitih pogodnosti i oblika saradnje. Ful-aranžman podrazumeva:
                <li>prihvatanje i ispraćanje Vaših gostiju</li>
                <li>higijensko održavanje (redovno ili nakon smene gostiju</li>
                <li>dopuna higijenskih sredstava (sapun, šampon, toalet papir, ubrus...</li>
                <li>vršenje naplate u Vaše ime za usluge korišćenja Vašeg doma</li>
                <li>registracija Vaših gostiju nadležnim organima</li>
                <li>prikupljanje i naplata boravišne takse</li>
                <li>inspekcija nekretnine i proveravanje inventara kuće pre odlaska gostiju</li>
                <li>iznajmljivanje nekretnine</li>
                <li>potpisivanje ugovora</li>
                <li>rešavanje svih potreba Vaših gostiju</li>
            </ul>
        </div>
    
        <div class="services__images">
            <img class="services__img" src="assets/images/3.jpg">
            <img class="services__img" src="assets/images/4.jpg">
            <img class="services__img" src="assets/images/5.jpg">
            <img class="services__img" src="assets/images/6.jpg">
            <img class="services__img" src="assets/images/7.jpg">
        </div>
    </div>

    <div class="services__cards">

        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/vacuum2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Usisavanje i brisanje<br> prašine</h6>
        </div>

        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/floor2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Brisanje podova</h6>
        </div>

        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/kitchen2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Čišćenje kuhinje</h6>
        </div>

        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/bathroom2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Čišćenje kupatila</h6>
        </div>
     
        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/trash2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Bacanje smeća</h6>
        </div>

        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/bedroom2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Čišćenje spavaće sobe</h6>
        </div>

        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/dishes2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Pranje sudova</h6>
        </div>

        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/general2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Generalno spremanje</h6>
        </div>

        <div class="card">
            <div class="card__content">
                <div class="card__front">
                    <img src="assets/cards/handyman2.svg" alt="" class="card__img">
                </div>

                <div class="card__back">
                    <video class="card__video" autoplay muted loop src="assets/videos/vacuum1.mp4" type="video/mp4"></video>
                </div>
            </div>
            <h6 class="card__title">Kućni majstor</h6>
        </div>
        
    </div>
</section id="comments" class="comments">
    <div class="comments__div">
        <h4 class="comments__title">Mi cenimo Vaše kritike!</h4>
        <p class="comments__text">Ako imate minut slobodnog vremena ocenite naše usluge i podelite sa nama Vaše utiske. Hvala!</p>
        <img src="assets/images/jambotron.jpg" alt="" class="comments__bg">

        <div class="fb-comments" data-href="https://eruraina.github.io/cakumpakum/#/" data-width="" data-numposts="5"></div>

    </div>    
<section>

</section>